.homebody{
 color: #372251;
  background-color: #372251 ;
  
}
.maintext1{
 color: #7363E7 ;
 background-color: #372251;
justify-content: left;

 font-weight: bold;
 display: inline-block;
 margin-right: 1%;
 font-size: 70px;


}

.maintext2{
  color: #ffffff ;
  background-color: #372251;
  
  font-weight: bold;
  display: inline-block;
  font-size: 70px;
 }

 .textbox1{

  justify-content: left;

 }
 .wave {
  display: inline-block;
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
 

.typewrite{
  
    color: #359FDB ;
    justify-content: left;
    align-items: left;
    
    
    display: inline-block;
    font-size: 50px;
   
}

.changingwords{

  color: #7363E7 ;

justify-content: left;

 font-weight: bold;
 display: inline-block;
 margin-right: 1%;
 font-size: 70px;
}
.maintext11{
  color: #ffffff ;
  background-color: #372251;
 justify-content: left;
 
  font-weight: bold;
  display: inline-block;
  
  font-size: 50px;
 
 
 }

 .card{
  background-color: #372251 !important;
  color: #7637c3;
  justify-content: left;
  align-items: left !important;
  
 }

 .sparshimg{
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 10%;
  margin-top: -5%;
  width: 100%;
image-resolution: 100%;
 
 }

 .text{

  color: #ffffff !important;
 }


 .secondpart{
  background-color: #ffffff !important;
 }